@page
@model Forbidden

<div class="empty">
    <div class="empty-header">Forbidden</div>
    <p class="empty-title">Oops… You do not have access to this page</p>
    <p class="empty-subtitle text-muted">
        Please contact your administrator if you require access
    </p>
    <div class="empty-action">
        <a href="/" class="btn btn-primary">
            <partial name="Shared/Icons/ArrowLeft"/>
            Take me home
        </a>
    </div>
</div>