<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" asp-append-version="true" href="~/css/tabler.min.css"/>
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css"/>
    @await RenderSectionAsync("Head", true)
</head>
<body>

@RenderBody()

<script src="~/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/js/additional-methods.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
<script src="~/js/htmx.min.js" asp-append-version="true"></script>
<script src="~/js/tabler.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", true)

</body>
</html>